body {
    background-color: black;
    color: blanchedalmond;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    text-align: center;
}

.border{
    max-width: 1200px;
    height: 1200px;
}

.border-img{
    max-width: 100%;
    height:auto;
}

.results{
    border: dotted;
    border-width: 5px;
    border-radius: 5px;
    padding:50px;
    width: 400px;
    height: 600px;
    font-size: 32px;
    text-align: center;
}

.outcome{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    size: 64px;
}

.rules{
    color:white;
    border: dotted;
    border-width: 10px;
    border-radius: 5px;
    padding:100px;
    width: 300px;
    height: 400px;
    font-size: 32px;
    text-align: center;
}

.rules > li{
    line-height: 75px;
}

.choices{
    width:400px;
    margin: auto;
}

.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 72px;
}

.subtitle{
    font-family: cursive;
    font-style: italic;
}

a {
    color: whitesmoke;
}

a:hover {
    color: yellow;
}

a:visited {
    color: olive;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.navbtn{
    background-color: maroon;
    font-family: monospace;
    border-radius: 5px;
    padding: 20px;
    font-size: 32px;
}


.button {
    border-radius: 5px;
    border: 3px;
    padding: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: maroon;
    font-size: 20px;
    color: white;
    border-style: solid;
    border-color: maroon;
}

.button > a{
    color:white;
    font-style: normal;
}

#base-footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.note{
    position: relative;
    text-align: right;
}