{% extends "base.html" %}

  {% block content %}
<head>
    <title>RPS</title>
</head>
<body>
    <main>
        <header class="title">ROCK PAPER SCISSORS</header>
        <h1 class="subtitle">"God Bless The Guess"</h1>
        <hr>
        <h3>Please Enter Your Name And Make Your Choice:</h3>
            <div class="choices">
                <form action="/stage2" method='post'>
                <input type="text" name="name" id="name">
                <select class="input" name='choice' placeholder="Choose Your Weapon">
                    <option value="rock">Rock</option>
                    <option value="paper">Paper</option>
                    <option value="scissors">Scissors</option>
                </select>
                <input class="button" type="Submit" value="Make Choice">
                </form>
            </div>
    </main>
    <footer>
    
    </footer>
</body>
</html>

{% endblock %}